<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoUpload</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhotoUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoList4UserIdGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhotoList4UserIdGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscriptionRelationAdd</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.SubscriptionRelationAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscriptionRelationListGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.SubscriptionRelationListGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscriptionPhotoListGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.SubscriptionPhotoListGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscriptionRelationDelete</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.SubscriptionRelationDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoCommentAdd</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhotoCommentAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoCommentListGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhotoCommentListGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoNearbyListGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhotoNearbyListGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoCountGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhotoCountGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscriptionRelationCountGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.SubscriptionRelationCountGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FanRelationCountGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.FanRelationCountGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserHeadPicUpload</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserHeadPicUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FanRelationListGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.FanRelationListGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscriptionRelationWhether</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.SubscriptionRelationWhether</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoBlowRandomGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhotoBlowRandomGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoCommentCountGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhotoCommentCountGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserSearchByName</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserSearchByName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLikePhotoAdd</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserLikePhotoAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLikePhotoDelete</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserLikePhotoDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLikePhotoWhetherGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserLikePhotoWhetherGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLikePhotoPhotoCountGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserLikePhotoPhotoCountGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLikePhotoPhotoListGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserLikePhotoPhotoListGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLikePhotoUsersCountGet</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.UserLikePhotoUsersCountGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhoneMessageAdd</servlet-name>
    <servlet-class>here.wait.photo.share.servlet.PhoneMessageAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/servlet/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/servlet/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoUpload</servlet-name>
    <url-pattern>/servlet/PhotoUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoList4UserIdGet</servlet-name>
    <url-pattern>/servlet/PhotoList4UserIdGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscriptionRelationAdd</servlet-name>
    <url-pattern>/servlet/SubscriptionRelationAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscriptionRelationListGet</servlet-name>
    <url-pattern>/servlet/SubscriptionRelationListGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscriptionPhotoListGet</servlet-name>
    <url-pattern>/servlet/SubscriptionPhotoListGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscriptionRelationDelete</servlet-name>
    <url-pattern>/servlet/SubscriptionRelationDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoCommentAdd</servlet-name>
    <url-pattern>/servlet/PhotoCommentAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoCommentListGet</servlet-name>
    <url-pattern>/servlet/PhotoCommentListGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoNearbyListGet</servlet-name>
    <url-pattern>/servlet/PhotoNearbyListGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoCountGet</servlet-name>
    <url-pattern>/servlet/PhotoCountGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscriptionRelationCountGet</servlet-name>
    <url-pattern>/servlet/SubscriptionRelationCountGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FanRelationCountGet</servlet-name>
    <url-pattern>/servlet/FanRelationCountGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserHeadPicUpload</servlet-name>
    <url-pattern>/servlet/UserHeadPicUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserGet</servlet-name>
    <url-pattern>/servlet/UserGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FanRelationListGet</servlet-name>
    <url-pattern>/servlet/FanRelationListGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscriptionRelationWhether</servlet-name>
    <url-pattern>/servlet/SubscriptionRelationWhether</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoBlowRandomGet</servlet-name>
    <url-pattern>/servlet/PhotoBlowRandomGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoCommentCountGet</servlet-name>
    <url-pattern>/servlet/PhotoCommentCountGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSearchByName</servlet-name>
    <url-pattern>/servlet/UserSearchByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLikePhotoAdd</servlet-name>
    <url-pattern>/servlet/UserLikePhotoAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLikePhotoDelete</servlet-name>
    <url-pattern>/servlet/UserLikePhotoDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLikePhotoWhetherGet</servlet-name>
    <url-pattern>/servlet/UserLikePhotoWhetherGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLikePhotoPhotoCountGet</servlet-name>
    <url-pattern>/servlet/UserLikePhotoPhotoCountGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLikePhotoPhotoListGet</servlet-name>
    <url-pattern>/servlet/UserLikePhotoPhotoListGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLikePhotoUsersCountGet</servlet-name>
    <url-pattern>/servlet/UserLikePhotoUsersCountGet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhoneMessageAdd</servlet-name>
    <url-pattern>/servlet/PhoneMessageAdd</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>openSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>openSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
</web-app>